body{
    font-family: Ubuntu, "Times New Roman", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    border-bottom: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
}



ul{
    margin-right: 15px;
}

li{
    list-style-type: none;
    display: inline;
    font-family: Ubuntu, "Times New Roman", sans-serif;
    font-size: large;
    color: midnightblue;
    border: 2px solid azure;
    background-color: azure;
    border-radius: 2px;
    padding: 3px;
}

footer p{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    color: darkblue;
    text-align: center;
}

li a{
    text-decoration: none;
}

label{
    font-family: Ubuntu, "Times New Roman", sans-serif;
    font-size: medium;
    padding: 5px;
    font-weight: bold;
    color: darkblue;
    display: block;
    margin: 5px;
}

input{
    font-family: Ubuntu, "Times New Roman", sans-serif;
    width: 35%;
    margin: 5px;

}

.review{
    border-block: 2px solid darkblue;
    padding: 1px;
    width: 30%;
    margin: auto;

}

.text{
    text-align: center;
    font-family: Ubuntu, "Times New Roman", sans-serif;

}

.registration_form{
    padding: 20px;
    width: 30%;
    margin: auto;
    text-align: center;
    font-family: Ubuntu, "Times New Roman", sans-serif;
}

.button{
    color: darkblue;
    border-radius: 5px;
    width: 25%;
    height: 30px;
}

.loginForm{
    padding: 20px;
    width: 5%;
    margin: auto;
    text-align: right;
    font-family: Ubuntu, "Times New Roman", sans-serif;
}

.logout{
    background: none;
    border:none;
    padding:0;
    cursor: pointer;
    text-align: right;
    font-size: medium;
    color: darkblue;
}


.navbar{
    text-align: right;
}

.nav{
    padding: 0;
}


.error{
    color: red;
    font-family: Ubuntu, "Times New Roman", sans-serif;
}

.title{
    text-decoration: none;
    color: darkblue;
    font-family: Ubuntu, "Times New Roman", sans-serif;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
}

.add{
    text-align: left;
    text-decoration: none;
}

.pagination_links{
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
}

.links{
    position: relative;
    right: 75%;
}
.links a{
    text-decoration: none;
    width: 1%;
}

.links li{
    margin: 2px;
}




