header{
    text-align: center;
    border-bottom: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
}

.title{
    text-decoration: none;
    color: darkblue;
    font-family: Verdana, Times New Roman, sans-serif;
}

ul{
    margin-right: 15px;
}

li{
    list-style-type: none;
    display: inline;
    font-family: Verdana, "Times New Roman", sans-serif;
    font-size: large;
    color: midnightblue;
    border: 2px solid azure;
    background-color: azure;
    border-radius: 2px;
    padding: 3px;
}

footer p{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: darkblue;
    text-align: center;
}

li a{
    text-decoration: none;
}

.card{
    border: 8px solid cornflowerblue;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    text-align: right;
}




